ion-grid {
  --ion-grid-padding:               5px;

  --ion-grid-padding-xs:            5px;
  --ion-grid-padding-sm:            5px;
  --ion-grid-padding-md:            5px;
  --ion-grid-padding-lg:            5px;
  --ion-grid-padding-xl:            5px;
}

ion-col{
  text-align: center;
}

h5{
  text-align: left;
  padding-left: 10px;
}