<ion-header>
  <ion-toolbar>
    <ion-title>Refus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid class="vertical-align-content custom">
    <ion-row class="align-items-center ion-align-items-stretch">
      <ion-row>
        <ion-col>
          <ion-text class="ion-text-center ion-text-justify">
            Vous avez refusé les conditions générales d'utilisation et ne pouvez donc pas utiliser l'application. 
            Si vous avez fait une erreur et que vous voulez les accepter, veuillez relancer l'application.
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="justify-content-center align-items-center">
        <ion-col>
          <ion-text><h1>Merci.</h1></ion-text>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
  
</ion-content>
