<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Conditions générales d'utilisation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row></ion-row>

  <ion-row>
    <ion-col>
      <ion-text class= "ion-text-justify">
        <p>Bienvenue sur l'application nKM.</p> 
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ion-text>
        <p>Editée par Arnaud LAPPRAND <br> Contact : arnaud.lapprand@diiage.org </p>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text class= "ion-text-justify">
        <p>Avant d'accéder à l’application, chaque utilisateurs doit lire attentivement les “conditions générales d’utilisation”, ci après appelé “CGU”.

          L’accès aux services de l’application nKM (“application” ou “nKM”) est soumis au consentement obligatoire de l’utilisateur (“l'utilisateur” ou “vous”). 
          
          L’utilisateur devra accepter sans condition, ni réserve les CGU afin d’accéder à nKM.
          En cas de désaccord avec ces CGU,  l'utilisateur devra opérer un refus de celles-ci. Tout refus empêchera l’utilisation de l’application. </p>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text class= "ion-text-justify">
        <h3> 1. Contenu de l'application nKM</h3>
        <h5> 1.1. Description du produit </h5>
        <p> nKM est une application de visualisation géographique de zone ayant un rayon défini utilisant une adresse précise en tant que centre. 
    
            L’application a pour objectif de permettre à l’utilisateur de connaître les zones de n distance autour d’un point géographique renseigné au préalable. 
            
            Le point géographique correspondant à une adresse pouvant être modifié à tout moment par l’utilisateur. Le diamètre de la zone est également modifiable par l’utilisateur.</p>
        <h5> 1.2. Propriété intellectuelle</h5>
        <p>Le contenu de l’application nkm est protégé par les droits d’auteur et le droit de la propriété intellectuelle
    
            Toute reproduction sans autorisation de la part de l'éditeur serait contraire aux articles L 335-2 et suivant du code de la propriété intellectuelle et  L 713-2 du même code.
            
            L’utilisateur n’a aucunement le droit de reproduire, adapter, exploiter le contenu de l’application. Aucune des disposition des CGU ne pourra être interprété comme une autorisation  en ce sens.</p>    
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text class= "ion-text-justify">
        <h3> 2. Condition d’accès à nKM</h3>
        <p>L’application est téléchargeable gratuitement, hors frais de connexion internet, abonnement fait auprès des opérateurs. 
        
            Afin d’accéder à l'application vous devez être en possession d’un appareil compatible (téléphone ou ordinateur).  
            
            Il appartient à l’utilisateur de se protéger des malware et autre infiltration. l’éditeur ne sera pas responsable en cas de contamination.</p>          
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text class= "ion-text-justify">
        <h3> 3. Modification de service </h3>
        <h5> 3.1. Mise à jour d’utilisation</h5>
        <p>L’application pourra être mise à jour par l’éditeur, le contenu pourra être modifié ou supprimé de manière partielle ou totale sans préavis. Ceci ne pourra pas donner droit à un quelconque dédommagement.</p>
        <h5> 3.2. Mise à jour des CGU</h5>
        <p>L’éditeur pourra également modifier les conditions générale d’utilisation, celles-ci sont accessibles en permanence dans l’onglet “Configuration”. Est donc réputé avoir accepté les nouvelles CGU tout utilisateur poursuivant l’utilisation du service.</p>
        <h5> 3.3. Arrêt du service</h5>
        <p>L’éditeur se réserve le droit d’interrompre le service à tout moment sans que sa responsabilité ne soit engagée.
            Le service peut être interrompu indépendamment de la volonté de l’éditeur sans que celui-ci ne soit tenu pour responsable.</p> 
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text class= "ion-text-justify">
        <h3> 4. Modalité d’utilisation</h3>
        <h5> 4.1. Bienséance de l’utilisateur responsabilité des utilisateurs</h5>
        <p>L’usage de l’application nKM est exclusivement personnelle.
            En acceptant les CGU, l’utilisateur s’engage à ne pas perturber le bon fonctionnement de l’application.</p>
        <h5> 4.2. Acceptation et preuve</h5>
        <p>Les CGU sont applicable à tout utilisateur de nKM. En acceptant les CGU l’utilisateur s’engage à les respecter, en cas de refus des CGU l’accès à l’application se limite à la page de refus et l’accès au service de nKM est impossible. 
            Toute personne ayant accès au service de l’application est réputé avoir accepté les CGU. </p>         
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text class= "ion-text-justify">
        <h3> 5. Droit des utilisateurs</h3>
        <h5> 5.1. Données personnelles</h5>
        <p>L’application nKM respecte la vie privée des utilisateurs, celui-ci peut à tout moment supprimer les données enregistrés dans l’onglet “configuration”. 
        
            Les données renseignés par l’utilisateur sont stockées localement, l’éditeur n’y a donc pas accès.</p>
        <h5> 5.2. Géolocalisation</h5>
        <p>La seule fonction de la géolocalisation est de permettre le repérage de la personne sur la carte de l'application. 
        
            L’utilisateur peut accepter ou refuser la géolocation sur l’application au moment de la première utilisation. 
            Par la suite, l’utilisateur peut activer ou désactiver la géolocalisation directement dans les réglages de l’appareil mobile. 
            
            nKM peut être utilisé sans la géolocalisation, cependant les fonctionnalités de l’application se verront limitées.</p>         
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text class= "ion-text-justify">
        <h3> 6. Responsabilité juridique </h3>
        <p>L’éditeur de l’application nKM ne pourra être tenu pour responsable de la fiabilité de la transmission des données (localisation…) ou des interruption d’accès du réseaux internet.</p>         
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text class= "ion-text-justify">
        <h3> 7. Loi applicable</h3>
<p> L’application nKM et les présentes conditions sont régis par le droit français. En cas de différent ne pouvant être résolu à l'amiable, la juridiction compétente sera le tribunal judiciaire de Dijon. </p>
      </ion-text>
    </ion-col>
  </ion-row>
